html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}

.hero {
  display: block;
  position: relative;
  width: 100%;
  z-index: -1;
}
.hero__img {
  position: relative;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.produtos {
  padding: 6rem 0 6rem 1rem;
  width: 100%;
  background: #FEFEFD;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
}
.produtos__title {
  font: 800 8rem/8.4rem "Gabarito", sans-serif;
  color: #787878;
  text-transform: uppercase;
}
.produtos__sidebar {
  flex: 1 1 24%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d9d9d9;
}
.produtos__sidebar-itens {
  width: 100%;
  flex-direction: column;
  margin: 1.2rem;
}
.produtos__sidebar-itens .seletores {
  height: 0;
  overflow: hidden;
  transition: all 0.25s ease-in;
}
.produtos__sidebar-itens .seletores--active {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.produtos__sidebar-itens .seletores div {
  margin-top: 2rem;
  margin-left: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.produtos__sidebar-itens .seletores div input[type=checkbox] {
  outline: 1px solid #31302E;
  margin-right: 1.2rem;
}
.produtos__sidebar-itens .seletores div input[type=checkbox]:hover {
  outline: 1px solid #FFCB0B;
  border: 1px solid #FFCB0B;
}
.produtos__sidebar-itens .seletores div input[type=checkbox]:focus {
  outline: 1px solid #FFCB0B;
}
.produtos__sidebar-itens .seletores div label {
  font: 300 1.6rem "Gabarito", sans-serif;
  color: #838382;
}
.produtos__sidebar-btn {
  width: 100%;
  padding-right: 3.2rem;
  box-sizing: border-box;
  color: #31302E;
  font-weight: 800;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.produtos__sidebar hr {
  width: 90%;
  height: 2px;
  background: #d9d9d9;
  border: transparent;
  margin: 1rem auto;
}
.produtos__cards {
  flex: 1 1 100%;
}
.produtos__cards-filters {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.produtos__cards-filters .column, .produtos__cards-filters .list, .produtos__cards-filters .filter {
  font-size: 1.6rem;
  margin-left: 1.2rem;
  border-radius: 0.4rem;
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.8rem;
  box-sizing: border-box;
  align-content: center;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.produtos__cards-filters .column:active, .produtos__cards-filters .list:active, .produtos__cards-filters .filter:active {
  border: 1px solid #838382;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}
.produtos__cards-filters .filter {
  display: none;
}
.produtos-symbol {
  transition: all 0.3s ease-in-out;
}
.produtos-symbol--active {
  rotate: 90deg;
}
@media screen and (max-width: 1024px) {
  .produtos__title {
    font: 900 5.6rem "Gabarito", sans-serif;
    width: 80%;
  }
  .produtos__sidebar {
    display: none;
  }
  .produtos__cards-filters {
    padding: 0 2rem;
    box-sizing: border-box;
  }
  .produtos__cards-filters .filter {
    position: absolute;
    top: -5rem;
    right: 2rem;
    border-radius: 0.8rem;
    width: 10rem;
    background-color: #838382;
    color: #FEFEFD;
    display: block;
  }
}

.box {
  flex-wrap: wrap;
  margin-top: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.box__cards {
  border-radius: 1.2rem;
  flex: 1 1 32rem;
  max-width: 32rem;
  height: 48rem;
  cursor: pointer;
}
.box__cards:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
}
.box__cards-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.box__cards span {
  color: #C5203C;
  font: 300 1.2rem "Gabarito", sans-serif;
  letter-spacing: 1.2px;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding: 0 2rem;
  box-sizing: border-box;
}
.box__cards--btn {
  display: block;
  width: 30rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  border: none;
  background-color: #FFCB0B;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  color: #31302E;
  margin: 2rem auto;
  transition: all 0.25s ease-in;
}
.box__cards--btn:hover {
  background-color: #FFE06D;
  color: #838382;
}
.box__cards-lines {
  flex: 1 1 100%;
  width: 100%;
  max-width: 100%;
  column-gap: 1.2rem;
  border: 1px solid #d9d9d9;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  transition: transform 0.25 ease-in;
}
.box__cards-lines:hover {
  transform: scale(1.005);
}
.box__cards-lines .box__cards-img {
  flex: 1 1 24rem;
  max-width: 16rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.4rem;
  margin: 0;
}
.box__cards-lines .box__cards-info {
  flex: 1 1 80rem;
  max-width: 80rem;
}
.box__cards-lines .box__cards-info .box__title {
  font-size: 4rem;
  margin: 0.4rem 0;
}
.box__cards-lines span {
  color: #C5203C;
  font: 300 1.6rem "Gabarito", sans-serif;
  letter-spacing: 1.2px;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding: 0 2rem;
  box-sizing: border-box;
}
.box__cards-lines .box__cards--btn {
  display: block;
  width: 30rem;
  font-size: 1.4rem;
  box-sizing: border-box;
  border: none;
  background-color: #FFCB0B;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  color: #31302E;
  margin: 1.2rem 2rem;
  transition: all 0.25s ease-in;
}
.box__cards-lines .box__cards--btn:hover {
  background-color: #FFE06D;
  color: #838382;
}
.box__title {
  margin: 1.2rem 0 2rem;
  font: 800 2.6rem "Gabarito", sans-serif;
  color: #31302E;
  letter-spacing: 0.5px;
  padding: 0 2rem;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .box__cards {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .box__cards span {
    font-size: 1.6rem;
  }
  .box__cards--btn {
    width: 100%;
    font-size: 2rem;
  }
  .box__title {
    font-size: 3.2rem;
  }
}

#quantity {
  font: 300 1.2rem "Gabarito", sans-serif;
}

.more {
  text-decoration: underline;
  color: #31302E;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.more:hover {
  color: #C5203C;
}

#modal {
  display: none;
  width: 70vw;
  height: 88vh;
  background-color: #fff;
  position: fixed;
  top: 10rem;
  left: 50%;
  border-radius: 1rem;
  padding: 4rem;
  box-sizing: border-box;
  transform: translate(-50%, 0);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
  overflow: auto;
  z-index: 99;
}
#modal hr {
  margin: 5rem auto;
}
#modal .dismiss {
  position: absolute;
  display: block;
  border: 1px solid #31302E;
  padding: 0.6rem;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: #31302E;
  inset: 4rem auto 4rem auto;
  right: 4rem;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
#modal .dismiss:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1024px) {
  #modal {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }
}

.bloco {
  width: 100%;
  margin: 2rem auto;
  gap: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.bloco__imgs {
  flex: 1 1 64rem;
  max-width: 64rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.bloco__imgs-thumbs {
  max-width: 12rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.bloco__imgs-thumbs img {
  width: 12rem;
  height: 12rem;
  border-radius: 0.8rem;
  object-fit: cover;
  filter: saturate(0.2) contrast(0.8) opacity(0.35);
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.bloco__imgs-thumbs img:hover {
  filter: opacity(0.8);
}
.bloco__imgs-img {
  position: relative;
  width: 100%;
}
.bloco__imgs-img img {
  width: 52rem;
  height: 52rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 1.2rem;
  object-position: 30% 50%;
}
.bloco__imgs-img .fi-bs-arrow-small-right, .bloco__imgs-img .fi-bs-arrow-small-left {
  position: absolute;
  top: 50%;
  width: 4.8rem;
  height: 2.8rem;
  padding: 0.4rem;
  border-radius: 1.6rem;
  box-sizing: border-box;
  color: #FEFEFD;
  text-align: center;
  background-color: #31302E;
  font-size: 2rem;
  transform: translate(0, -50%);
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}
.bloco__imgs-img .fi-bs-arrow-small-right:hover, .bloco__imgs-img .fi-bs-arrow-small-left:hover {
  background-color: #838382;
}
.bloco__imgs-img .fi-bs-arrow-small-right {
  right: -0.8rem;
}
.bloco__imgs-img .fi-bs-arrow-small-left {
  left: -0.8rem;
}
.bloco__info {
  padding: 0 2rem 0 0;
  box-sizing: border-box;
}
.bloco__info label {
  font: 300 1.6rem "Gabarito", sans-serif;
  color: #838382;
  margin-right: 1.2rem;
}
.bloco__info input {
  font-size: 1.4rem;
  margin: 2rem 0 0;
  padding: 1rem 1.6rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid #838382;
  color: #838382;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .bloco {
    flex-direction: column;
  }
  .bloco__imgs {
    flex-direction: column;
    flex: 0 0 100%;
  }
  .bloco__imgs-thumbs {
    flex-direction: row;
    margin-top: 4rem;
  }
  .bloco__imgs-img img {
    width: 100%;
    height: 32rem;
  }
}

.description {
  font: 800 4.8rem "Gabarito", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #31302E !important;
}

#list li {
  margin: 0.8rem 0;
  font: 300 1.4rem "Gabarito", sans-serif;
  color: #838382;
}

.related {
  gap: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.related__cards {
  flex: 1 1 32rem;
  max-width: 30rem;
  margin: 3.2rem 0;
  height: 44rem;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.related__cards:hover {
  border: 1px solid #838382;
}
.related__cards span {
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  color: #EEBDC5;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding: 0 2rem;
  box-sizing: border-box;
}
.related__cards-title {
  font: 900 3.2rem "Gabarito", sans-serif;
  color: #31302E;
  padding: 0 2rem;
  box-sizing: border-box;
}
.related__cards-img {
  width: 100%;
  height: 30rem;
  border-radius: 1.2rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1024px) {
  .related {
    flex-direction: column;
  }
  .related__cards {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 2rem 0;
  }
}

.add--cart:hover {
  transform: scale(1.008);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

#car-market {
  display: none;
}

.confirm--carrinho {
  display: none;
  background-color: #FEFEFD;
  position: fixed;
  width: 35vw;
  padding: 4rem 8rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.confirm--carrinho .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 2rem 0;
}
.confirm--carrinho .btns .confirm--accept, .confirm--carrinho .btns .confirm--decline {
  width: 20rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  transition: all 0.25s ease-in;
  color: #FEFEFD;
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
}
.confirm--carrinho .btns .confirm--accept:hover, .confirm--carrinho .btns .confirm--decline:hover {
  transform: scale(1.008);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}
.confirm--carrinho .btns .confirm--accept {
  background-color: #009951;
}
.confirm--carrinho .btns .confirm--decline {
  background-color: #C5203C;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Gabarito", sans-serif;
  background: #fff;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  background-color: #FEFEFD;
  height: auto;
  box-sizing: border-box;
  z-index: 4;
}
header .container {
  padding: 0;
}
header .container .nav {
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
header .container .nav__line {
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  gap: 40px;
}
header .container .nav-itens {
  position: relative;
  text-transform: uppercase;
  font: 800 1.6rem "Gabarito", sans-serif;
  color: #31302E;
  text-decoration: none;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
header .container .nav-itens:hover {
  color: #FFCB0B;
}
header .container .nav-btn {
  background-color: #FFCB0B;
  width: 24rem;
  height: 4.4rem;
  border-radius: 0.8rem;
  font: 800 1.6rem "Gabarito", sans-serif;
  text-transform: uppercase;
  color: #31302E;
  transition: all 0.25s ease-in;
}
header .container .nav-btn:hover {
  background-color: #FFE06D;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}
header .container .nav--hover {
  position: absolute;
  height: 0;
  width: auto;
  top: 1.6rem;
  overflow: hidden;
  transition: all 0.25s ease-in;
}
header .container .nav--hover .menu-dropdown {
  display: grid;
  grid-template-columns: 12rem 1fr;
  gap: 2rem;
  background: #FEFEFD;
  padding: 1.5rem;
  width: 50rem;
}
header .container .nav--hover .menu-categorias {
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
  color: #31302E;
  border-right: 1px solid #ddd;
}
header .container .nav--hover .menu-itens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
header .container .nav--hover .menu-itens .coluna {
  width: 8rem;
}
header .container .nav--hover .menu-itens .coluna a {
  color: #31302E;
  transition: all 0.25s ease-in;
  text-transform: none;
  line-height: 3.6rem;
}
header .container .nav--hover .menu-itens .coluna a:hover {
  color: #FFCB0B;
}
header .container .nav--hover .menu-footer {
  grid-column: 1/-1;
  border-top: 1px solid #ddd;
  margin-top: 1rem;
  padding-top: 1rem;
}
header .container .nav--hover .menu-footer a {
  color: #FFCB0B;
  font-weight: 900;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.25s ease-in;
}
header .container .nav--hover .menu-footer a:hover {
  color: #FFE06D;
}
header .container .nav-itens:hover .nav--hover {
  background-color: #FEFEFD;
  width: auto;
  height: 24rem;
  top: 2.6rem;
  padding: 2rem;
  z-index: 2;
  box-sizing: border-box;
}
header .toggle {
  display: none;
}
header .menu-toggle {
  display: none;
}
@media screen and (max-width: 1024px) {
  header .nav__itens {
    display: none !important;
  }
  header .container .nav {
    padding: 2rem 2rem 0;
  }
  header .container .nav ul {
    display: none;
  }
  header .toggle {
    display: block;
    font-size: 3.2rem;
    color: #FFCB0B;
  }
  header .menu-toggle {
    display: none;
  }
  header .menu-toggle--active {
    display: block;
    position: fixed;
    height: 100%;
    width: 100vw;
    background: #FFCB0B;
    top: 0;
    z-index: 999;
  }
  header .menu-toggle--active .cross {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    font-size: 3.2rem;
    color: #31302E;
  }
  header .menu-toggle__position {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .menu-toggle__itens {
    font: 300 2.4rem/2.8rem "Gabarito", sans-serif;
    font-weight: 800;
    color: #31302E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #838382;
    margin: 4.8rem 0;
    letter-spacing: 1px;
  }
}

.assistencia {
  position: fixed;
  top: 0;
  right: -500px;
  transition: all 0.3s ease-in-out;
}
.assistencia--active {
  top: 0;
  right: 0;
  background-color: #FFCB0B;
  width: 56rem;
  height: 72rem;
  padding: 4.8rem 5.6rem;
  box-sizing: border-box;
  border-bottom-left-radius: 0.8rem;
}
.assistencia__title {
  font: 800 2rem/2.8rem "Gabarito", sans-serif;
  color: #31302E;
  margin: 1.6rem 0;
}
.assistencia__form {
  align-items: flex-start !important;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.assistencia__form select {
  width: 100%;
  padding: 2rem 1.2rem;
  border: 1px solid #d9d9d9;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  margin-bottom: 1rem;
}
.assistencia__form select:checked {
  color: #d9d9d9;
}
.assistencia__form select:active {
  color: #d9d9d9;
}
.assistencia__form select:focus {
  color: #d9d9d9;
}
.assistencia__form select option {
  color: #838382;
}
.assistencia__form select option[selected] {
  color: #d9d9d9;
}
.assistencia__form fieldset {
  margin: 1rem 0;
  width: 100%;
  gap: 1rem;
}
.assistencia__form label {
  display: block;
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  color: #31302E;
  margin: 0.4rem 0;
  text-align: left;
}
.assistencia__form input, .assistencia__form textarea {
  padding: 1.6rem 1rem;
  border-radius: 0.2rem;
  color: #838382;
  border: 1px solid #31302E;
  outline: none;
  width: 100%;
  max-width: 63rem;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
  margin: 0.4rem 0;
  background: transparent;
}
.assistencia__form input::placeholder, .assistencia__form textarea::placeholder {
  color: #838382;
  font-family: "Gabarito", sans-serif;
  letter-spacing: 0.8px;
}
.assistencia__form textarea {
  height: 20rem;
}
.assistencia__form .submit {
  width: 100%;
  padding: 1.2rem 1rem;
  background-color: #31302E;
  color: #FEFEFD;
  font-size: 1.4rem;
  border: 0px solid transparent;
  border-radius: 0.4rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .assistencia__form {
    padding: 0 1.2rem;
    box-sizing: border-box;
    width: 100%;
  }
  .assistencia__form .submit {
    width: 100%;
    height: 5.6rem;
  }
}

.title, .banner .title__banner {
  font: 800 8rem/8.4rem "Gabarito", sans-serif;
  color: #FFCB0B;
  text-transform: uppercase;
  text-align: left;
}
.title__equipment {
  text-align: center;
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  color: #838382;
  letter-spacing: 3px;
  margin: 4rem 0 2rem;
}
.title__faq {
  text-align: center;
  font: 900 5.6rem "Gabarito", sans-serif;
  color: #31302E;
}

.container {
  width: 100%;
  padding: 5rem 0;
  max-width: 1280px;
  margin: 0 auto;
}
.container hr {
  margin: 10rem 0;
  border: 1px solid #d9d9d9;
}
.container .btn-modal {
  width: 26rem;
  margin: 2rem auto;
  display: block;
}
.container__form {
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
  gap: 2rem;
}
.container__form-franqueado {
  padding: 4rem 8rem 2rem;
  box-sizing: border-box;
}
.container__form-franqueado .title, .container__form-franqueado .banner .title__banner, .banner .container__form-franqueado .title__banner, .container__form-franqueado .txt {
  color: #fff;
}
.container__form-dsc {
  flex: 2 1 48rem;
}
.container__form-dsc .title, .container__form-dsc .banner .title__banner, .banner .container__form-dsc .title__banner, .container__form-dsc .txt {
  text-align: left;
}
.container__form-card {
  flex: 1 1 70rem;
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 84rem;
  border-radius: 1rem;
  background: linear-gradient(90deg, #ED6928, #F5B958);
}
.container__produtos {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.container-franquias {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 4.4rem 0.4rem;
    box-sizing: border-box;
    width: 100%;
  }
  .container__form {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
  .container__form-dsc {
    padding: 1rem 1rem;
    box-sizing: border-box;
    flex: 0 0 100%;
  }
  .container__form-card {
    flex: 0 0 100%;
    width: 100%;
    border-radius: 0;
  }
  .container__form-franqueado {
    padding: 4rem 2rem 2rem;
  }
  .container-franquias {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
}

.diferencas {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.diferencas__bloco {
  gap: 2rem;
  padding: 3.2rem 4rem;
  box-sizing: border-box;
  background-color: #FEFEFD;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 1.2rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.diferencas__bloco-icon {
  font-size: 4.2rem;
  color: #FFCB0B;
}
.diferencas__bloco-txt {
  font: 300 2.4rem/2.8rem "Gabarito", sans-serif;
  color: #31302E;
}
@media screen and (max-width: 1024px) {
  .diferencas {
    flex-direction: column;
  }
  .diferencas__bloco {
    width: 100%;
    height: 16rem;
    justify-content: flex-start;
    padding: 4rem 8rem;
    margin: 1rem 0;
    border-radius: 0;
  }
}

.descubra {
  gap: 3.2rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.descubra__bloco {
  position: relative;
  flex: 1 1 50vw;
}
.descubra__bloco-info {
  position: absolute;
  margin: 2rem;
}
.descubra__bloco-info span {
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  color: #838382;
  letter-spacing: 2px;
  text-decoration: underline;
}
.descubra__bloco-info .desc {
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  color: #838382;
}
.descubra__bloco-info .desc span::after {
  content: "\a";
  white-space: pre;
}
.descubra__bloco-img {
  width: 100%;
  height: 23rem;
  object-fit: cover;
  border-radius: 1.2rem;
}
.descubra__bloco-btn {
  text-transform: uppercase;
  border: none;
  background: #FFE06D;
  font: 800 1.4rem "Gabarito", sans-serif;
  padding: 0.4rem 4rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  color: #838382;
  margin: 0.4 0;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.descubra__bloco-btn:hover {
  background: #FFE06D;
}
@media screen and (max-width: 1024px) {
  .descubra {
    flex-direction: column;
  }
}

.promote {
  background-color: #FCFAF9;
  width: 100%;
  height: 20rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.promote hr {
  rotate: 90deg;
}
.promote__bloco {
  gap: 2rem;
  padding: 2rem;
  flex: 1 1 50%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.promote__bloco:first-child {
  border-right: 1px solid #838382;
}
.promote__bloco .title, .promote__bloco .banner .title__banner, .banner .promote__bloco .title__banner {
  font-size: 3.2rem;
  line-height: 3.6rem;
}
.promote__bloco .classify {
  color: #FFCB0B;
  font-size: 1.6rem;
  margin: 1.2rem 0;
  cursor: pointer;
}
.promote__bloco .classify i {
  margin: 0 0.1rem;
}
.promote__bloco span {
  color: #C5203C;
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  letter-spacing: 1px;
  text-decoration: underline;
}
.promote__bloco-img {
  width: 16rem;
  height: 14rem;
  object-fit: cover;
}
.promote__bloco-btn {
  text-transform: uppercase;
  border: none;
  background: #FFE06D;
  font: 800 1.4rem "Gabarito", sans-serif;
  padding: 0.4rem 4rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  color: #838382;
  margin: 0.4 0;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.promote__bloco-btn:hover {
  background: #FFE06D;
}
@media screen and (max-width: 1024px) {
  .promote {
    flex-direction: column;
    height: 48rem;
  }
  .promote__bloco:first-child {
    border-right: transparent;
    border-bottom: 1px solid #838382;
  }
  .promote__bloco-img {
    height: 16rem;
  }
}

.section__title {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  gap: 3.2rem;
}
.section__title .title, .section__title .banner .title__banner, .banner .section__title .title__banner {
  font: 900 5.6rem "Gabarito", sans-serif;
}
.section__title-timer {
  background-color: #FFFAE7;
  padding: 0.8rem 3rem;
  box-sizing: border-box;
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  color: #838382;
  letter-spacing: 1.6px;
  border-radius: 2rem;
}

.close {
  width: 2rem;
  height: 2rem;
  border: 2px solid #FEFEFD;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 2rem;
  color: #FEFEFD;
}

.txt {
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  color: #838382;
  margin: 1rem 0;
  text-align: left;
}

.recomendacao {
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.recomendacao__tag {
  background-color: #EEBDC5;
  padding: 0.8rem 2.4rem;
  border-radius: 3.2rem;
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FEFEFD;
}
.recomendacao__line {
  margin: 2.8rem 0 1.2rem;
  color: #838382;
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  line-height: 2rem;
  letter-spacing: 1px;
  text-decoration: underline;
}
.recomendacao__btn {
  text-transform: uppercase;
  border: none;
  background: #FFE06D;
  font: 800 1.4rem "Gabarito", sans-serif;
  padding: 0.4rem 4rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  color: #838382;
  margin: 4rem 0 2rem;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.recomendacao__btn:hover {
  background: #FFE06D;
}
.recomendacao img {
  width: 62rem;
  height: 62rem;
  object-fit: cover;
  border-radius: 2rem;
}
@media screen and (max-width: 1024px) {
  .recomendacao {
    flex-direction: column;
  }
  .recomendacao-info {
    padding: 2rem;
    box-sizing: border-box;
  }
  .recomendacao__btn {
    display: block;
    padding: 1.2rem 8rem;
    margin: 4.8rem auto;
  }
  .recomendacao img {
    width: 100%;
    height: 40rem;
  }
}

.boxes {
  margin-top: 4rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row;
  display: flex;
}
.boxes__img {
  width: 40rem;
  height: 36rem;
  object-fit: cover;
  border-radius: 1.2rem;
}
.boxes__categorias {
  font: 900 3.2rem "Gabarito", sans-serif;
  color: #31302E;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}
@media screen and (max-width: 1024px) {
  .boxes {
    margin-top: 5rem;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .boxes__img {
    width: 100%;
    border-radius: 0;
    height: auto;
  }
}

.contato {
  gap: 2.8rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
}
.contato__info {
  flex: 1 1 56rem;
  max-width: 56rem;
}
.contato__form {
  flex: 1 1 56rem;
  max-width: 56rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}
.contato__form select {
  width: 100%;
  padding: 2rem 1.2rem;
  border: 1px solid #d9d9d9;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  margin-bottom: 1rem;
}
.contato__form select:checked {
  color: #d9d9d9;
}
.contato__form select:active {
  color: #d9d9d9;
}
.contato__form select:focus {
  color: #d9d9d9;
}
.contato__form select option {
  color: #838382;
}
.contato__form select option[selected] {
  color: #d9d9d9;
}
.contato__form fieldset {
  margin: 1rem 0;
  width: 100%;
  gap: 1rem;
}
.contato__form label {
  display: block;
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  color: #31302E;
  margin: 0.4rem 0;
  text-align: left;
}
.contato__form input, .contato__form textarea {
  padding: 1.6rem 1rem;
  border-radius: 0.2rem;
  color: #838382;
  border: 1px solid #838382;
  outline: #838382;
  width: 100%;
  max-width: 63rem;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
  margin: 0.4rem 0;
  background: transparent;
}
.contato__form input::placeholder, .contato__form textarea::placeholder {
  color: #838382;
  font-family: "Gabarito", sans-serif;
  letter-spacing: 0.8px;
}
.contato__form textarea {
  height: 20rem;
}
.contato__form .submit {
  width: 100%;
  padding: 1.2rem 1rem;
  background-color: #31302E;
  color: #FEFEFD;
  font-size: 1.4rem;
  border: 0px solid transparent;
  border-radius: 0.4rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .contato__form {
    padding: 0 1.2rem;
    box-sizing: border-box;
    width: 100%;
  }
  .contato__form .submit {
    width: 100%;
    height: 5.6rem;
  }
}
.contato__form label {
  color: #31302E;
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
}
@media screen and (max-width: 1024px) {
  .contato {
    padding: 0 2rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .contato__info {
    flex: 0 0 100%;
  }
  .contato__form {
    flex: 0 0 100%;
  }
}

.local {
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
}
.local__info {
  flex: 1 1 56rem;
}
.local__location {
  flex: 1 1 56rem;
}
@media screen and (max-width: 1024px) {
  .local {
    flex-direction: column;
    padding: 0 2rem;
    box-sizing: border-box;
  }
  .local__info {
    flex: 0 0 100%;
  }
  .local__location {
    width: 100%;
    height: 50%;
    object-fit: cover;
    flex: 0 0 100%;
  }
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  z-index: -1;
}
.banner .title__banner {
  position: absolute;
  top: 8rem;
  left: 32rem;
}

.about-img {
  width: 100%;
  height: 62rem;
  object-fit: cover;
  border-radius: 1.2rem;
  margin: 2rem 0;
}

.about__bloco {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3.6rem;
}
.about__bloco img {
  flex: 1 1 40rem;
  max-width: 40rem;
  border-radius: 1.2rem;
}
.about__bloco-info {
  flex: 1 1 56rem;
  margin: 10rem 0;
}
@media screen and (max-width: 1024px) {
  .about__bloco {
    gap: 2rem;
  }
  .about__bloco img {
    flex: 0 0 100%;
  }
  .about__bloco-info {
    flex: 0 0 100%;
    margin: 5rem 0;
    padding: 0 2rem;
    box-sizing: border-box;
  }
}

a {
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  line-height: 1.6rem;
  color: #FEFEFD;
  text-decoration: none;
}
a:visited {
  text-decoration: underline;
}

.sub {
  font: 800 1.6rem "Gabarito", sans-serif;
  color: #31302E;
}

.carrinho {
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}
.carrinho__cards {
  gap: 2.4rem;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid #838382;
  width: 60vw;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.25s ease-in;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.carrinho__cards:hover {
  transform: scale(1.005);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}
.carrinho__cards-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.4rem;
}
.carrinho__title {
  font: 900 3.2rem "Gabarito", sans-serif;
  color: #31302E;
}
.carrinho__buttons {
  width: 60vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.carrinho__buttons--back {
  border: none;
  background: #838382;
  font: 800 1.4rem "Gabarito", sans-serif;
  padding: 0.4rem 4rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  color: #FEFEFD;
  margin: 2rem 0;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.carrinho__buttons--back:hover {
  background: #d9d9d9;
}
.carrinho__buttons--confirm {
  border: none;
  background: #009951;
  font: 800 1.4rem "Gabarito", sans-serif;
  padding: 0.4rem 4rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  color: #FEFEFD;
  margin: 2rem 0;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.carrinho__buttons--confirm:hover {
  background: #5f9a6a;
}
@media screen and (max-width: 1024px) {
  .carrinho__cards {
    width: 100%;
  }
  .carrinho__buttons {
    width: 100%;
  }
  .carrinho__buttons--back {
    padding: 0.8rem 3.2rem;
    height: 4.8rem;
  }
  .carrinho__buttons--confirm {
    padding: 0.8rem 3.2rem;
    height: 4.8rem;
  }
}

.modal {
  position: absolute;
  top: 0;
  right: 5.6rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in;
}
.modal--active {
  position: absolute;
  right: 5.6rem;
  top: -12rem;
  width: 30rem;
  height: auto;
  padding-top: 2rem;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
}
.modal--active .close {
  position: absolute;
  right: 1.2rem !important;
  top: 1.2rem !important;
  z-index: 2;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.modal--active .close:hover {
  color: #FFCB0B;
  border-color: #FFCB0B;
}
.modal hr {
  width: 90%;
  background-color: #838382;
}
.modal__links {
  font: 300 2.4rem/2.8rem "Gabarito", sans-serif;
  text-transform: uppercase;
  color: #31302E;
  text-align: center;
  margin: 1.6rem 0;
  transition: all 0.25s ease-in;
}
.modal__links:hover {
  color: #FFCB0B;
}
.modal__links--btn {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  height: auto;
  width: 16rem;
  border: none;
  background: #FFE06D;
  font: 800 1.4rem "Gabarito", sans-serif;
  padding: 1.2rem 6rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  color: #838382;
  margin: 1.2rem auto;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.modal__links--btn:hover {
  background: #FFE06D;
}

.whatsapp-fixed {
  position: fixed;
  bottom: 4rem;
  right: 20rem;
  z-index: 1000;
  background: #25d366;
  color: #fff;
  border-radius: 8rem;
  width: 5rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
  animation: wpp 5s ease-in-out 0s infinite alternate;
  transition: all 0.25s ease-in;
}
.whatsapp-fixed i {
  font-size: 2.8rem;
}
.whatsapp-fixed:hover {
  background: #1ebe4e;
  font-weight: 900;
}
.whatsapp-fixed__txt {
  margin-left: 1rem;
  font: 600 1.2rem "Gabarito", sans-serif;
  color: #31302E;
}

footer {
  background: #FFE06D;
  margin-top: 10rem;
}
footer .foot {
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
}
footer .foot .fi-brands-linkedin, footer .foot .fi-brands-instagram {
  font-size: 2rem;
  color: #31302E;
  margin: 0 1.2rem;
}
footer .foot__column {
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}
footer .foot__column img {
  width: 24rem;
}
footer .foot__column-text {
  gap: 1rem;
  color: #31302E;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
}
footer .foot__column-title {
  font: 800 1.6rem "Gabarito", sans-serif;
  color: #31302E;
  text-transform: uppercase;
}
footer .foot__column-unidades {
  font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  color: #31302E;
  margin: 1.6rem 0;
  letter-spacing: 1px;
}
footer .txt {
  letter-spacing: 1.2px;
  color: #31302E;
}
@media screen and (max-width: 1024px) {
  footer .foot {
    align-items: center;
    flex-direction: column;
  }
  footer .foot__column {
    margin: 2rem 0;
    text-align: center;
  }
  footer .txt {
    text-align: center;
    padding: 0 2rem;
    box-sizing: border-box;
  }
}

@keyframes wpp {
  from {
    bottom: 8rem;
  }
  to {
    bottom: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .title, .banner .title__banner {
    font: 900 5.6rem "Gabarito", sans-serif;
  }
  .txt {
    font: 200 1.6rem/2.4rem "Gabarito", sans-serif;
  }
  .sub {
    padding: 0 2rem;
    box-sizing: border-box;
  }
  .section__title {
    gap: 1rem;
  }
  .section__title .title, .section__title .banner .title__banner, .banner .section__title .title__banner {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .banner .title__banner {
    left: 2rem;
  }
  .form {
    flex: 0 0 100%;
    margin: 0 auto;
  }
  .whatsapp-fixed {
    bottom: 8rem;
    right: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
